{% extends 'caisse_operation/index.html.twig' %}
{% block operation %}

        <div class="card" id="card">
            <div class="card-header">
                <h3 class="">
                    Transfert de fond
                </h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        {% for message in app.flashes('error') %}
                            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                                <div class="alert alert-danger alert-with-icon" data-notify="container">
                                    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                                        <i class="tim-icons icon-simple-remove"></i>
                                    </button>
                                    <span data-notify="icon" class="tim-icons icon-bell-55"></span>
                                    <span data-notify="message"> {{ message }}</span>
                                </div>
                            </div>

                        {% endfor %}

                        {% for message in app.flashes('erreurEnvoie') %}
                            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                                <div class="alert alert-danger alert-with-icon" data-notify="container">
                                    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                                        <i class="tim-icons icon-simple-remove"></i>
                                    </button>
                                    <span data-notify="icon" class="tim-icons icon-bell-55"></span>
                                    <span data-notify="message"> {{ message }}</span>
                                </div>
                            </div>

                        {% endfor %}

                        {% for message in app.flashes('done') %}
                            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                                <div class="alert alert-success alert-with-icon" data-notify="container">
                                    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                                        <i class="tim-icons icon-simple-remove"></i>
                                    </button>
                                    <span data-notify="icon" class="tim-icons icon-bell-55"></span>
                                    <span data-notify="message"> {{ message }}</span>
                                </div>
                            </div>

                        {% endfor %}


                    </div>
                </div>
                <form id="form1" method="post" action="{{ path('transfert_search') }}">

                    <div class="form-row d-flex align-items-center">

                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Numero de carte de l'envoyeur</label>
                            <input type="text" name="numCarte" class="form-control" id="inputEmail4" placeholder="Numero">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="submit" value="Rechercher" class="btn ">
                        </div>
                    </div>
                </form>

                {% if client is defined %}

                        <div class="row my-4 align-items-center">
                            <div class="col-md-6"><p>Nom : {{ client.nom }}</p></div>
                            <div class="col-md-6"> <p>Prenom : {{client.prenom }}</p></div>
                            <div class="col-md-6"><p>Numero de piece : {{ client.pieceIdentite }}</p></div>
                            <div class="col-md-6"><p>Type de piece : {{ client.typePieceIdentite }}</p></div>
                            {% if compte is defined %}
                                <div class="col-md-6"><p>Solde compte {{ compte.type.nom}} : <span class="bg-success px-2 text-dark">{{ compte.solde }} XOF</span></p></div>
                            {% endif %}
                        </div>
                        <form id="form2" action="{{ path('transfert_search_account') }}" method="post">
                            <div class="row d-flex align-items-center">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Liste des comptes du client</label>
                                    <select id="typeCompte" name="compte" class="form-control ">
                                        {%for cpt in client.comptes %}
                                            <option value="{{ cpt.id }}"> {{ cpt.type.nom }} </option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="form-group col-md-6">
                                    <input type="submit" value="Selectionner" class="btn">
                                </div>
                            </div>
                        </form>

                {% endif %}

                {% if compte is defined %}
                    <form id="form1" method="post" action="{{ path('transfert_send') }}">

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Numero de compte du receveur </label>
                                <input type="number" name="receveur" min="10000000000000" max="9999999999999999" minlength="15" class="form-control" id="inputEmail4" placeholder="Numero">
                            </div>
                            <input type="text" hidden name="emmeteur"  value="{{ compte.numero }}">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Montant a transferer</label>
                                <input type="number" name="montant" class="form-control" id="inputEmail4" placeholder="Montant">
                            </div>
                                <input type="submit" value="Envoyer" class="btn">
                        </div>
                    </form>
                {% endif %}

            </div>
        </div>


    <script>
        let form = document.getElementById('form1');
        if (document.getElementById('form2')){
            form.style.display = 'none';
        }
    </script>
{% endblock %}

